<div class=header>
	<div class=title>
		<h1><%= title %></h1>
		<h1><%= host %></h1>
		<p>Rule the world of node!</p>
		<% if (!readWrite) { %>
		<h1 style=color:red>Read-Only Access</h1>
		<% } %>
	</div>
	<p>Written by <a href=http://www.haraldrudell.com>Harald Rudell</a></p>
	<div class=topcontrols>
		<button class='control reload'>Reload App Configuratons</button>
		<p >
			<button class=reconnect>Reconnect</button>
		 	&emsp;<span id=status>Page loaded from server</span>
		</p>
	</div>
</div>
<div class=content>
	<div class=apps>
		<% for (var app in apps) { %>
			<%- partial('partials/app', { app: apps[app].getState() }) %>
		<% } %>
	</div>
</div>
<div class=footer>
	<div class=footermiddle>
		<p>Written by <a href=http://www.haraldrudell.com>Harald Rudell</a></p>
		<p>Node God up since: <%= dateString(launch) %>.</p>
	</div>
</div>