<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
<script src=//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js></script>
<script src="/socket.io/socket.io.js"></script>
<script src=/javascripts/templates.js></script>
<script src=/javascripts/nodegod.js></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<%- body %>
	</body>
</html>